<section class="four columns">
    <div class="sidebar">
        <h2><a href="/feed.xml" class="rss">The Trendline</a></h2>

        <div class="box">
            <strong>Hi, I'm Vic!</strong>
            You are reading <a href="/index.html"><strong>The Trendline</strong></a>, a blog by Vic Cherubini.
            The Trendline covers my entrepreneurial life, software I am building, web development, and other facets of technology.
        </div>

        <h4>Free Email Updates</h4>
        <div class="box">
            <p class="email-privacy-text">
                Free email updates (usually about once a month) directly into your inbox.
                <strong>Your email address is safe with me.</strong>
            </p>
            <form method="post" action="http://leftnode.us1.list-manage.com/subscribe/post" class="email-form">
                <input type="text" name="MERGE0" id="MERGE0" class="email-address">
                <input type="hidden" name="u" value="cf5e4dc49d4141b66dfc499b9">
                <input type="hidden" name="id" value="df9c80f945">
                <div class="register-button">
                    <input type="submit" value="Register For Free Updates">
                </div>
            </form>
        </div>

        <div class="box">
            <form>
                <input type="text" id="st-search-input" class="st-search-input" />
            </form>
            <div id="st-results-container"></div>
            <script type="text/javascript">
                var Swiftype = window.Swiftype || {};
                (function() {
                    Swiftype.key = 'vo9mH9Lx1EKDcGPL5ZSF';
                    Swiftype.inputElement = '#st-search-input';
                    Swiftype.resultContainingElement = '#st-results-container';
                    Swiftype.attachElement = '#st-search-input';
                    Swiftype.renderStyle = "overlay";
                    Swiftype.disableAutocomplete = true;

                    var script = document.createElement('script');
                    script.type = 'text/javascript';
                    script.async = true;
                    script.src = "//swiftype.com/embed.js";

                    var entry = document.getElementsByTagName('script')[0];
                    entry.parentNode.insertBefore(script, entry);
                }());
            </script>
        </div>

        <div class="box" align="center">
            <a href="https://github.com/leftnode"><img src="/public/images/github.png" alt="@leftnode on Github" title="" ></a>
            <a href="https://plus.google.com/116439798180015509124/posts"><img src="/public/images/google-plus.png" alt="Vic Cherubini on Google+" title="" ></a>
            <a href="https://twitter.com/leftnode"><img src="/public/images/twitter.png" alt="@leftnode on Twitter" title="" ></a>
            <a href="mailto:vmc@leftnode.com"><img src="/public/images/email.png" alt="Email Vic" title="" ></a>
        </div>

        <div class="box" align="center">
            <a href="/archives.html">Archives</a>
        </div>
    </div>
</section>
